*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    font: 400 14px "Work Sans", sans-serif;
}
nav{
    background-color: #008ba2;
    position: fixed;
    height: 40px;
    width: 100%;
    color: #001215;
    text-align: center;
}
nav ul{
    display: inline-block;
}
li{
    float: left;
    list-style: none;
    text-align: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
nav a{
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	text-align: center;
	text-decoration: none;
    -webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu{
    opacity: 1;
    top: 40px;
    visibility: visible;
}
#submenu li{
    float: none;
    width: 100%;
}
#submenu a:hover{
    background-color: rgb(0, 0, 0);
}
#submenu a{
    background-color: #008ba2;
    padding: 5px 5px;
    margin: none;
}
nav i{
    font-size: 25px;
}
section{
    padding: 0px 20px 10px 20px;
}
h1{
    font-size: 36px;
    font-weight: 700;
}
h2{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
h3{
    font-weight: 500;
}
a{
    text-decoration: none;
}
a:any-link{
    color: #001215;
}
a:-webkit-any-link{
    color: #001215;
}
a:-moz-any-link{
    color: #001215;
}
a:hover{
    color: white;
}
table{
    width: 50%;
    border: 2px solid #008ba2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: #008ba2;
    color: #222;
    padding: 10px;
    border-radius: 15px;
}
td{
    padding: 5px 10px 5px 10px;
}
td i{
    font-size: 20px;
}
button, input{
    background-color: #008ba2;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #222;
}
textarea{
    border-radius: 10px;
}
/*Clases y IDs*/
.text{
    padding-top: 10px;
}
#modulo{
    padding-top: 60px;
    background-image: url(../images/background\ 1.png);
    min-height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
}
#descript h3{
    border-bottom: 2px solid #001215;
    padding-bottom: 5px;
    font-weight: 500;
}
#descript p{
    padding-top: 5px;
}
#descript{
    padding-bottom: 10px;
}
#recursos{
    background-color: #00bbd3;
}
.gridrecurso{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.recurso{
    width: 250px;
    background-color: white;
    border-radius: 15px;
}
.recurso p{
    padding-left: 12.5px;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}
.recurso h4{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.recurso img{
    padding-left: 12.5px;
    padding-right: 12.5px;
    border-radius: 50px;
}
.recurso .ir, .recurso .descargar{
    float: right;
    padding: 5px;
}
.recurso .sep{
    margin: 5px 5px 5px 5px;
    border: 1px solid #00bbd3;
}
#gridclases{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}
@media (min-width: 400px) {
    #gridclases{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
#gridclases table{
    width: 70%;
}
.clases a:hover{
    color: #00bbd3;
}
.clases th i{
    font-size: 20px;
}
#multim{
    background-image: url(../images/background\ multimedia.png);
    min-height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
#tablemultim{
    margin-left: auto;
    margin-right: auto;
}
#tablamultim{
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#tablamultim p{
    padding-top: 5px;
}

#tablamultim h3{
    padding-bottom: 5px;
    border-bottom: 2px solid #001215;
    text-align: center;
}
#tablamultim td iframe{
    border-radius: 20px;
}
#foro h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
#foro h3{
    border-bottom: 2px solid #001215;
}
#foro h3, #foro p, #foro form{
    padding-bottom: 5px;
    padding-top: 5px;
}
#foro .form h3{
    border: none;
}
.priv{
    border-top: 3px solid #001215;
}
#tareas{
    background-color: #85A0BD;
}
#gridtask{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}
.task h3{
    border-right: 2px solid #001215;
    border-bottom: 2px solid #001215;
    padding-top: 5px;
    padding-bottom: 5px;
}
.task p{
    border-right: 2px solid #001215;
    padding-top: 5px;
}
.task{
    margin-bottom: auto;
    margin-top: auto;
}
.task form{
    margin-top: 5px;
}
footer{
    height: 40px;
    padding-top: 5px;
    text-align: center;
}
footer ul{
    display: inline-block;
}
footer ul li{
    float: left;
}
.foot{
    padding-top: 15px;
}